// IMPORTS
@import "reset.scss";
@import "layout.scss";
@import "colors.scss";
//

body{
    font-family: "Open Sans", sans-serif;
}

.contain{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cover{
    height: 100%;
    width: 100%;
    object-fit: cover;
}